In [1]:
import pandas as pd
from pathlib import Path
import os

In [2]:
# open survey 2020 and store it to a dataframe
file2020 = Path('Kaggle') / 'kaggle_survey_2020_responses.csv'
df = pd.read_csv(file2020)
print(df)

      Time from Start to Finish (seconds)                           Q1  \
0                   Duration (in seconds)  What is your age (# years)?
1                                    1838                        35-39
2                                  289287                        30-34
3                                     860                        35-39
4                                     507                        30-34
...                                   ...                          ...
20032                                 126                        18-21
20033                                 566                        55-59
20034                                 238                        30-34
20035                                 625                        22-24
20036                                1031                        22-24

                                           Q2  \
0      What is your gender? - Selected Choice
1                                         Man
2                                         Man
3                                         Man
4                                         Man
...                                       ...
20032                                     Man
20033                                   Woman
20034                                     Man
20035                                     Man
20036                                     Man

                                                      Q3  \
0              In which country do you currently reside?
1                                               Colombia
2                               United States of America
3                                              Argentina
4                               United States of America
...                                                  ...
20032                                             Turkey
20033  United Kingdom of Great Britain and Northern I...
20034                                             Brazil
20035                                              India
20036                                           Pakistan

                                                      Q4  \
0      What is the highest level of formal education ...
1                                        Doctoral degree
2                                        Master’s degree
3                                      Bachelor’s degree
4                                        Master’s degree
...                                                  ...
20032  Some college/university study without earning ...
20033                                    Master’s degree
20034                                    Master’s degree
20035                                  Bachelor’s degree
20036                                    Master’s degree

                                                      Q5  \
0      Select the title most similar to your current ...
1                                                Student
2                                          Data Engineer
3                                      Software Engineer
4                                         Data Scientist
...                                                  ...
20032                                                NaN
20033                             Currently not employed
20034                                 Research Scientist
20035                                  Software Engineer
20036                          Machine Learning Engineer

                                                      Q6  \
0      For how many years have you been writing code ...
1                                             5-10 years
2                                             5-10 years
3                                            10-20 years
4                                             5-10 years
...                                                  ...
20032                                                NaN
20033                                          20+ years
20034                                          < 1 years
20035                                          3-5 years
20036                                          < 1 years

                                               Q7_Part_1  \
0      What programming languages do you use on a reg...
1                                                 Python
2                                                 Python
3                                                    NaN
4                                                 Python
...                                                  ...
20032                                                NaN
20033                                             Python
20034                                             Python
20035                                             Python
20036                                             Python

                                               Q7_Part_2  \
0      What programming languages do you use on a reg...
1                                                      R
2                                                      R
3                                                    NaN
4                                                    NaN
...                                                  ...
20032                                                NaN
20033                                                NaN
20034                                                NaN
20035                                                NaN
20036                                                NaN

                                               Q7_Part_3  ...  \
0      What programming languages do you use on a reg...  ...
1                                                    SQL  ...
2                                                    SQL  ...
3                                                    NaN  ...
4                                                    SQL  ...
...                                                  ...  ...
20032                                                NaN  ...
20033                                                NaN  ...
20034                                                NaN  ...
20035                                                SQL  ...
20036                                                NaN  ...

                                            Q35_B_Part_2  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
20032                                                NaN
20033                                                NaN
20034                                                NaN
20035                                  Weights & Biases
20036                                  Weights & Biases

                                            Q35_B_Part_3  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
20032                                                NaN
20033                                                NaN
20034                                                NaN
20035                                                NaN
20036                                                NaN

                                            Q35_B_Part_4  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
20032                                                NaN
20033                                                NaN
20034                                                NaN
20035                                                NaN
20036                                                NaN

                                            Q35_B_Part_5  \
0      In the next 2 years, do you hope to become mor...
1                                           TensorBoard
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
20032                                                NaN
20033                                                NaN
20034                                                NaN
20035                                       TensorBoard
20036                                                NaN

                                            Q35_B_Part_6  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
20032                                                NaN
20033                                                NaN
20034                                                NaN
20035                                                NaN
20036                                                NaN

                                            Q35_B_Part_7  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
20032                                                NaN
20033                                                NaN
20034                                                NaN
20035                                                NaN
20036                                                NaN

                                            Q35_B_Part_8  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
20032                                                NaN
20033                                                NaN
20034                                                NaN
20035                                            Trains
20036                                            Trains

                                            Q35_B_Part_9  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
20032                                                NaN
20033                                                NaN
20034                                                NaN
20035                                                NaN
20036                                                NaN

                                           Q35_B_Part_10  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                   None
4                                                    NaN
...                                                  ...
20032                                                NaN
20033                                               None
20034                                                NaN
20035                                                NaN
20036                                                NaN

                                             Q35_B_OTHER
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
20032                                                NaN
20033                                                NaN
20034                                                NaN
20035                                                NaN
20036                                                NaN

[20037 rows x 355 columns]

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# open survey 2021 and store it to a dataframe
file2021 = Path('Kaggle') / 'kaggle_survey_2021_responses.csv'
df1 = pd.read_csv(file2021)
print(df1)

      Time from Start to Finish (seconds)                           Q1  \
0                   Duration (in seconds)  What is your age (# years)?
1                                     910                        50-54
2                                     784                        50-54
3                                     924                        22-24
4                                     575                        45-49
...                                   ...                          ...
25969                                1756                        30-34
25970                                 253                        22-24
25971                                 494                        50-54
25972                                 277                        45-49
25973                                 255                        18-21

                                           Q2  \
0      What is your gender? - Selected Choice
1                                         Man
2                                         Man
3                                         Man
4                                         Man
...                                       ...
25969                                     Man
25970                                     Man
25971                                     Man
25972                                     Man
25973                                     Man

                                              Q3  \
0      In which country do you currently reside?
1                                          India
2                                      Indonesia
3                                       Pakistan
4                                         Mexico
...                                          ...
25969                                      Egypt
25970                                      China
25971                                     Sweden
25972                   United States of America
25973                                      India

                                                      Q4  \
0      What is the highest level of formal education ...
1                                      Bachelor’s degree
2                                        Master’s degree
3                                        Master’s degree
4                                        Doctoral degree
...                                                  ...
25969                                  Bachelor’s degree
25970                                    Master’s degree
25971                                    Doctoral degree
25972                                    Master’s degree
25973                                  Bachelor’s degree

                                                      Q5  \
0      Select the title most similar to your current ...
1                                                  Other
2                                Program/Project Manager
3                                      Software Engineer
4                                     Research Scientist
...                                                  ...
25969                                       Data Analyst
25970                                            Student
25971                                 Research Scientist
25972                                     Data Scientist
25973                                   Business Analyst

                                                      Q6  \
0      For how many years have you been writing code ...
1                                             5-10 years
2                                              20+ years
3                                              1-3 years
4                                              20+ years
...                                                  ...
25969                                          1-3 years
25970                                          1-3 years
25971                          I have never written code
25972                                         5-10 years
25973                          I have never written code

                                               Q7_Part_1  \
0      What programming languages do you use on a reg...
1                                                 Python
2                                                    NaN
3                                                 Python
4                                                 Python
...                                                  ...
25969                                             Python
25970                                             Python
25971                                                NaN
25972                                             Python
25973                                                NaN

                                               Q7_Part_2  \
0      What programming languages do you use on a reg...
1                                                      R
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                               Q7_Part_3  ...  \
0      What programming languages do you use on a reg...  ...
1                                                    NaN  ...
2                                                    SQL  ...
3                                                    NaN  ...
4                                                    NaN  ...
...                                                  ...  ...
25969                                                SQL  ...
25970                                                NaN  ...
25971                                                NaN  ...
25972                                                SQL  ...
25973                                                NaN  ...

                                            Q38_B_Part_3  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_4  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_5  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                           TensorBoard
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_6  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_7  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_8  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_9  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                           Q38_B_Part_10  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                           Q38_B_Part_11  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                   None
3                                                    NaN
4                                                   None
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                               None
25972                                                NaN
25973                                               None

                                             Q38_B_OTHER
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

[25974 rows x 369 columns]

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,195,201,285,286,287,288,289,290,291,292) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
intersection = df1.columns.intersection(df.columns)
print(intersection)

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q7_Part_1', 'Q7_Part_2', 'Q7_Part_3',
       ...
       'Q34_B_Part_3', 'Q34_B_Part_4', 'Q34_B_Part_5', 'Q34_B_Part_6',
       'Q34_B_Part_7', 'Q34_B_Part_8', 'Q34_B_Part_9', 'Q34_B_Part_10',
       'Q34_B_Part_11', 'Q34_B_OTHER'],
      dtype='object', length=199)

In [5]:
# columns in df1 not in df
df1_abundant = df1.columns.difference(df.columns)

In [6]:
df.columns.difference(df1.columns)

Index(['Q23_OTHER', 'Q23_Part_1', 'Q23_Part_2', 'Q23_Part_3', 'Q23_Part_4',
       'Q23_Part_5', 'Q23_Part_6', 'Q23_Part_7', 'Q24', 'Q26_A_OTHER',
       ...
       'Q37_Part_3', 'Q37_Part_4', 'Q37_Part_5', 'Q37_Part_6', 'Q37_Part_7',
       'Q37_Part_8', 'Q37_Part_9', 'Q38', 'Q39_Part_10', 'Q39_Part_11'],
      dtype='object', length=156)

In [7]:
df1.drop(columns=df1.columns.difference(df.columns), inplace=True)

In [8]:
df.drop(columns=df.columns.difference(df1.columns), inplace=True)

In [9]:
intersection = df1.columns.intersection(df.columns)
print(intersection)

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q7_Part_1', 'Q7_Part_2', 'Q7_Part_3',
       ...
       'Q34_B_Part_3', 'Q34_B_Part_4', 'Q34_B_Part_5', 'Q34_B_Part_6',
       'Q34_B_Part_7', 'Q34_B_Part_8', 'Q34_B_Part_9', 'Q34_B_Part_10',
       'Q34_B_Part_11', 'Q34_B_OTHER'],
      dtype='object', length=199)

In [10]:
df1.columns.difference(df.columns)

Index([], dtype='object')

In [11]:
df.columns.difference(df1.columns)

Index([], dtype='object')